<section class="d-flex flex-column justify-content-center align-items-center font-regular">
    <img src="assets/icon.png" alt="Icono" class="img-fluid icon-img">
    <h2 class="text-center mt-3">¡TE DAMOS LA BIENVENIDA<br>GRUPO SALINAS!</h2>
    
    <div class="text-center mt-4">
      <p class="mb-2">¿Cómo prefieres que te llamemos?</p>
    </div>
    
    <input type="text" class="form-control mt-3 p-3 bg-light text-dark border-primary rounded-3 shadow-sm input-name" placeholder="Escribe tu nombre" disabled>
    
    <small class="text-white d-block text-end text-counter">0/15 caracteres</small>
    
    <button class="btn btn-primary mt-4 d-flex align-items-center justify-content-center btn-mic">
      <i class="fas fa-microphone fa-3x"></i>
    </button>
  </section>
  