body {
    background: #000000; 
    background: -webkit-linear-gradient(to right, #000000, #24243e, #302b63);  
    background: linear-gradient(to right, #000000, #24243e, #302b63); 
}
.font-regular {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ffffff;
  }

  .icon-img {
    height: 350px;
  }
  
  .input-name {
    width: 60%;
    max-width: 400px;
  }
  
  .text-counter {
    font-size: 0.75rem;
    margin-top: 5px;
    width: 60%;
    max-width: 400px;
  }
  
  .btn-mic {
    width: 60%;
    max-width: 400px;
  }
  